<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bulletin-Buddy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <style>
        .comments {
            padding-top: 1.5em;
        }

        .page-title {
            width: 100%;
            color: blue;
            text-align: center;
        }

        .page-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>
<body>
<div class="page-container">
    <h1 class="page-title">Bulletin-Buddy</h1>
    <div class="comments">
        <table>
            <tr th:each="comment: ${comments}">
                <p th:text="${comment}"></p>
            </tr>
        </table>

        <form action="/comments" method="post">
            <label for="fComment">Your Comment:</label>
            <br/>
            <br/>
            <input type="text" id="fComment" name="pComment"/>
            <br/>
            <br/>
            <input type="submit" value="Add Comment">
        </form>
    </div>
</div>
</body>
</html>