.post {
    margin-top: 10px;
    border-radius: 5px;
    background-color: dodgerblue;
}
.post:hover {
    background-color: rgb(132, 193, 255);
}

.form-control {
  background: lightgray;
  width:175px;
}

.form-control-checkbox{
  transform: scale(1.3);
}

.form-label-checkbox{
  padding-left: 0.4em;
}
