<div class="container mt-5">
  <h1 class="display-4 text-center">{{post.title}}</h1>
  <div class="container mt-5 px-5">
    <div class="row vert-line-div"></div>
  </div>
</div>
<div class="container mt-5">
  <div class="container mt-5">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <p>{{post.body}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <p>Contact: <b>{{post.publisherEmail}}</b></p>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row vert-line-div"></div>
      <div class="form-outline mb-4">
        <label class="form-label-sort" for="sort">Sort comments</label>
        <!-- TODO bei posts dann different labels-->
        <select id="sort" (ngModelChange)="sort_func($event)" name="sort" class="form-control-sort"
                [(ngModel)]="sort_option">
          <option value="NO">Default sorting</option>
          <!-- TODO default = ascending so maybe remove default-->
          <!-- TODO think of improving this 1) labels 2) formatting -->
          <option value="ASC">Oldest posts first</option>
          <option value="DESC">Latest posts first</option>
          <!--<option value="ALPHA">Sort by user alphabetical</option>-->
        </select>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-2"></div>
      <!-- try order -->
      <div class="col-8">
        <!-- TODO don't sort in template, it will kill performance according to stackoverlfow-->
        <div *ngFor="let item of comments"> <!--| orderBy: item.timeStamp">-->
          <div class="row text-center text-white bg-secondary mt-1">
            <div>{{item.content}}</div>
            <div>{{item.timestamp.toLocaleString()}}</div>
            <div>{{item.posterEmail}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5" *ngIf="(authService.isLoggedIn())">
  <div class="container mx-5">
    <div class="row">
      <div class="col-3">
        <form #addCommentForm="ngForm">
          Add comment: <input name="comment" id="comment" class="form-control input-lg" type="text"
                              placeholder="Enter comment"
                              [(ngModel)]="commentInput">
          <button type="submit" class="btn btn-secondary mt-1" (click)="addComment()"
                  [disabled]="addCommentForm.invalid">Add comment
          </button>

        </form>

      </div>
    </div>
  </div>
</div>
<div class="mb-5"></div>
