<div class="container mt-5">
    <h1 class="display-4 text-center">{{offer.title}}</h1>
    <div class="container mt-5 px-5">
        <div class="row vert-line-div"></div>
    </div>
</div>
<div class="container mt-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <p>{{offer.body}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <p>Contact: <b>{{offer.userEmail}}</b></p>
            </div>        </div>
    </div>
</div>