<div class="container mt-5">
    <h1 class="display-4 text-center">{{offer.title}}</h1>
    <div class="container mt-5 px-5">
        <div class="row vert-line-div"></div>
    </div>
</div>
<div class="container mt-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <p>{{offer.body}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <p>Contact: <b>{{offer.userEmail}}</b></p>
            </div>
        </div>
        <div class="container mt-5 px-5">
            <div class="row vert-line-div"></div>
        </div>
        <div class="row mt-5">
            <div class="col-2"></div>
            <div class="col-8">
                <div *ngFor="let item of comments">
                    <div class="row text-center text-white bg-secondary mt-1">
                        <div>{{item.text}}</div>
                        <div>{{item.timestamp.toLocaleString()}}</div>
                        <div>{{item.userEmail}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5" *ngIf="(authService.isLoggedIn())">
    <div class="container mx-5">
        <div class="row">
            <div class="col-3">
                <form #addCommentForm="ngForm">
                    Add comment: <input name="comment" id="comment" class="form-control input-lg" type="text" placeholder="Enter comment"
                        [(ngModel)]="commentInput">
                    <button type="submit" class="btn btn-secondary mt-1" (click)="addComment()"
                        [disabled]="addCommentForm.invalid">Add comment</button>

                </form>

            </div>
        </div>
    </div>
</div>
<div class="mb-5"></div>