<div class="container mt-5">
    <h1 class="display-4 text-center">Add New Offer</h1>
    <div class="container mt-5 px-5">
        <div class="row vert-line-div"></div>
    </div>
</div>
<div class="container mt-5">
    <div class="row ">
        <div class="col-2"></div>
        <div class="col-8">
            <form #loginForm="ngForm">
                <!-- Title input -->
                <div class="form-outline mb-4">
                    <input type="text" id="title" name="title" class="form-control" [(ngModel)]="title" required />
                    <label class="form-label" for="title">Title</label>
                </div>
                <!-- Body input -->
                <div class="form-outline mb-4">
                    <input type="text" id="body" name="body" class="form-control" [(ngModel)]="body" />
                    <label class="form-label" for="body">Body</label>
                </div>

                <!-- PostType input -->
                <div class="form-outline mb-4">
                    <select id="postType" name="postType" class="form-control" [(ngModel)]="postType" required>
                        <option *ngFor="let type of postTypes">
                            {{type}}
                        </option>
                    </select>
                    <label class="form-label" for="postType">Type of post</label>
                </div>

                <!-- Submit button -->
                <a routerLink="/overview">
                    <button type="submit" (click)="submit()" [disabled]="loginForm.invalid"
                        class="btn btn-primary btn-block mb-4">Add Offer</button>
                </a>
                
            </form>
        </div>
        <div class="col-2"></div>

    </div>
</div>