<div class="container mt-5">
    <h1 class="display-3 text-center">BULLETIN BUDDY</h1>
    <div class="container mt-5 px-5">
        <div class="row vert-line-div"></div>
    </div>
</div>
<div class="container">
    <div class="row mt-5 px-5">
        <div class="col-2"></div>
        <div class="col-8 display-5 text-center login">
            <a routerLink="/login"><button *ngIf="!(isLoggedIn())" type="button"
                    class="btn btn-secondary login">Login</button>
                <button (click)="logout()" *ngIf="isLoggedIn()" type="button"
                    class="btn btn-secondary login">Logout</button></a>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mt-5 px-5">
        <div class="col-4 text-center top-offer" *ngFor="let item of getTopOffers()">
            <a routerLink="/" class="fill-div text-white"> <!-- TODO: Add link to the detail view of the coresponding offer -->
                {{item.title}}
            </a>
        </div>
    </div>
</div>