<div class="container mt-5">
    <h1 class="display-3 text-center">BULLETIN BUDDY</h1>
    <div class="container mt-5 px-5">
        <div class="row vert-line-div"></div>
    </div>
</div>
<div class="container">
    <div class="row mt-5 px-5">
        <div class="col-2"></div>
        <div class="col-8 display-5 text-center login">
            <a class="text-decoration-none link-secondary" href="/login">Login</a>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mt-5 px-5">
        <div class="col-4 text-center top-offer" *ngFor="let item of topOffersService.getTopOffers()">
            {{item.title}}
        </div>
    </div>
</div>