<div class="container mt-5">
  <h1 class="display-3 text-center">LOGIN</h1>
  <div class="container mt-4 px-5">
    <div class="row vert-line-div"></div>
  </div>
</div>
<div class="container mt-5">
  <div class="row ">
    <div class="col-2"></div>
    <div class="col-8">
      <form #loginForm="ngForm">
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="emailAddress" name="emailAddress" class="form-control" [(ngModel)]="email" />
          <label class="form-label" for="emailAddress">Email address</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password" />
          <label class="form-label" for="password">Password</label>
        </div>

        <!-- 2 column grid layout for inline styling
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
          <label class="form-check-label" for="form2Example31"> Remember me </label>
        </div>
      </div>

      <div class="col">
        <!-- Simple link
        <a href="#!">Forgot password?</a>
      </div>
    </div>
-->
        <!-- Submit button -->
        <a>
          <button type="submit" (click)="login()" [disabled]="loginForm.invalid" class="btn btn-primary btn-block mb-4"
            data-cy="login-page-button-sign-in">Sign in</button>
        </a>
        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a routerLink="/register">Register</a></p>
        </div>

      </form>
    </div>
    <div class="col-2"></div>

  </div>
</div>
