<div class="container mt-5">
    <h1 class="display-3 text-center">REGISTER</h1>
    <div class="container mt-4 px-5">
        <div class="row vert-line-div"></div>
    </div>
</div>
<div class="container mt-5">
    <div class="row ">
        <div class="col-2"></div>
        <div class="col-8">
            <form [formGroup]="passwordForm">
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" id="emailAddress" name="emailAddress" class="form-control"
                    formControlName="email" (change)="emailChanged()"/>
                    <label class="form-label" for="emailAddress">Email address</label>
                    <div *ngIf="!validEmail" class="alert alert-danger">
                        Account with this email already exists
                    </div>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input type="password" id="password" name="password" class="form-control" formControlName="password"
                        pattern="^\S{6,}$" placeholder="Password" required />
                    <label class="form-label" for="password">Password</label>

                    <input type="password" id="password_confirm" name="password_confirm" class="form-control"
                         formControlName="password_confirm" pattern="^\S{6,}$" placeholder="Verify Password" required />
                    <label class="form-label" for="password_confirm">Confirm password</label>
                    <div class="alert alert-warning">
                        Password must be at least 6 characters long
                    </div>
                    <div *ngIf="passwordMatchError" class="alert alert-danger">
                        Password does not match
                    </div>
                </div>

                <!-- Submit button -->
                <button type="submit" (click)="register()" [disabled]="passwordForm.invalid || (!validEmail)"
                    class="btn btn-primary btn-block mb-4" data-cy="login-page-button-sign-in" routerLink="/overview"
                    >Sign Up</button>
            </form>
        </div>
        <div class="col-2"></div>

    </div>
</div>